body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto","Arial", sans-serif ;
    letter-spacing: 0.5px;
}
header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-right {
    display: flex;
    align-items: center;
}
.kirish-logo{
    width: 227px;
    height: 59.18px;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list a {
    font-weight: 500;
    font-family: roboto,sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.main-link {
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    background-color: #FF7500;
    text-transform: none;
    text-decoration: none;
}
.coding-section {
    background-color: #252420;
    align-items: center;
    justify-content: space-between; 
    display: flex;
}
.coding-div {
    width: 390px;
}
.pyton-img{
    width: 550px;
    height: 550px;
}
.coding-h2 {
    width: 339px;
    font-size: 40px;
    color: #ffffff;
}
.coding-p {
    width: 387px;
    color: #ffffff;
}
.coding-pyton {
    color: #ffffff;
    background-color: #FF7500;
    font-size: 13px;
    text-decoration: none;
}
.features-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-line {
    background-color: #FF7500;
    width: 80px;
    height: 3px;
}
.reason-h2{
    width: 435px;
    font-size: 72px;
    font-family: "Roboto Condensed", "Arial" sans-serif;
    line-height: 120%;
}
.cursor-features {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}
.features {
    width: 340px;
}
.features-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    font-family: "Roboto Rondensed", sans-serif;
}
.features-info {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}
.section-books {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(37, 36, 32, 1);
    color: rgba(255, 255, 255, 1);
}
.books {
    width: 440px;
}
.books-header {
    line-height: 120%;
    font-weight: 700;
    font-size: 40px;
    font-family: "roboto condensed", sans-serif;
}
.books-text{
    font-weight: 400;
}
.books-strong {
    color: #FF7500;
}
.books-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}
.site-footerbosh {
    display: flex;
    justify-content: space-between;
}
.messengers {
    display: flex;
}
.site-footer ul {
    background-color: rgba(248, 248, 248, 1);
    list-style: none;
}
.site-footer-div {
    height: 2px;
    background-color: rgba(248, 248, 248, 1);
}
.site-footer-links {
    list-style: none;
    width: 224px;
}
.site-footer-links a {
    color: rgba(37, 36, 32, 1);
    text-decoration: none;
    line-height: 19px;
}
.sofooter {
    display: flex;
    justify-content: space-between;
}
