* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto","Arial", sans-serif ;
    letter-spacing: 0.5px;
}
* :focus {
    outline: 2px solid #FF7500;
    outline-offset: 3px;
}
/* CONTAINER */
.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.container-site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
  background-color: #ffffff;
  border-top: 5px solid #FF7500;
  padding-bottom: 16px;
  padding-top: 16px;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right ul { 
    padding: 0%;
}
.kirish-logo {
    width: 227px;
    height: 59.18px;
}
.akademnashr-hover {
    transition: opacity 0.4s ease;
}
.akademnashr-hover :hover {
    opacity: 0.8;
}
.akademnashr-hover :active {
    opacity: 0.6;
}
.nav-list {
    list-style: none;
    display: flex;
    transition: color 0.4s ease, opacity 0.4s ease;
    margin: 0;
    margin-right: 32px;
}
.nav-list :hover {
    color: rgba(255, 117, 0, 1);
}
.nav-list :active {
    opacity: 0.6;
}
.nav-list a {
    font-weight: 500;
    font-family: roboto,sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.list-iteams {
    margin-right: 32px;
}
.list-iteams:last-child {
    margin-right: 0;
}
.main-link {
    display: inline-block;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    background-color: #FF7500;
    text-transform: none;
    text-decoration: none;
    transition: opacity 0.4s ease;
    padding: 12px 24px;
    border-radius: 4px;
}
.main-link :hover {
    opacity: 0.8;
}
.main-link :active {
    opacity: 0.6;
}
.hero-container {
    align-items: center;
    justify-content: space-between; 
    display: flex;
}
.coding-section {
    background-color: #252420;
    margin-bottom: 20px;
}
.coding-div {
    width: 390px;
    padding-bottom: 80px;
    padding-top: 80px;
}
.pyton-img{
    width: 550px;
    height: 550px;
    border-radius: 8px;
}
.coding-h2 {
    width: 339px;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 24px;
}
.coding-p {
    width: 387px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 32px;
}
.coding-pyton {
    color: #ffffff;
    background-color: #FF7500;
    font-size: 13px;
    text-decoration: none;
}
.features-all {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0%;
}
.hero-line {
    background-color: #FF7500;
    width: 80px;
    height: 3px;
    border: none;
    margin: 0;
    margin-bottom: 40px;
}
.reason-h2{
    width: 435px;
    font-size: 72px;
    font-family: "Roboto Condensed", "Arial" sans-serif;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 72px;
}
.cursor-features {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    margin-bottom: 32px;
    border-radius: 50%;
}
.features {
    width: 340px;
    margin-right: 40px;
}
.features :last-child {
    margin-right: 0px;
}
.features-title {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    font-family: "Roboto Rondensed", sans-serif;
}
.features-info {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-top: 0px;
}
.section-books-container {
    background-color: rgba(37, 36, 32, 1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-books {
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
}
.section1 {
    padding-top: 120px;
    padding-bottom: 160px;
}
.books {
    width: 440px;
}
.books-header {
    line-height: 120%;
    font-weight: 700;
    font-size: 40px;
    font-family: "roboto condensed", sans-serif;
    margin-top: 0cm;
    margin-bottom: 24px;
}
.books-text{
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 12px;
}
.books-text1{
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
}

.books-strong {
    color: #FF7500;
}
.books-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}
.site-footerbosh {
    display: flex;
    justify-content: space-between;
}
.akademnashr-hover img {
    display: block;
}
.messengers {
    display: flex;
    transition: color 0.4s ease, opacity 0.4s ease;
    padding: 0%;
}
.messengers a {
    color: #252420;
    margin: 0px;
    display: block;
}
.messengers svg {
    display: block;
}
.messengers li {
    margin-right: 16px;
}
.messengers li :last-child {
    margin-right: 0px;
}
.messengers a :hover {
    color: rgba(255, 117, 0, 1);
}
.messengers a :active {
    opacity: 0.6;
}
.site-footer {
    padding-bottom: 56px;
    padding-top: 56px;
}
.site-footer ul {
    background-color: rgba(248, 248, 248, 1);
    list-style: none;
}
.site-footer-div {
    height: 2px;
    background-color: rgba(248, 248, 248, 1);
    border: 0px;
    margin-top: 40px;
    margin-bottom: 64px;
}
.site-footer-div li {
    margin-bottom: 16px;
}
.site-footer-div li :last-child {
    margin nav-right: 0px;
}
.site-footer-links {
    list-style: none;
    width: 224px;
    padding: 0%;
    margin: 0px;
    margin-right: 68px;
}
.site-footer-links :last-child {
    margin-right: 0px;
}
.site-footer-links a {
    color: rgba(37, 36, 32, 1);
    text-decoration: none;
    line-height: 19px;
    transition: color 0.4s ease, opacity 0.4s ease;
}
.sofooter {
    display: flex;
    justify-content: space-between;
}
.site-footer-links a :hover {
    color: rgba(255, 117, 0, 1);
}
.site-footer-links a :active {
    opacity: 0.6;
}
