header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 91px;
  padding: 16px 170px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.kirish-logo{
    width: 227px;
    height: 59.18px;
}
.nav-list {
    font-weight: 500;
    font-family: roboto,sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.main-link {
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
    background-color: #FF7500;
    text-transform: none;
    text-decoration: none;
}
.coding-section {
    display: flex;
    align-items: flex-start;
    width: 1440px;
    height: 488px;
    background-color: #252420;
}
.coding-div {
    position: absolute;
    width: 387px;
    height: 328px;   
    top: 177px;
    left: 170px; 
}
.pyton-img{
    position: absolute;
    width: 550px;
    height: 550px;
    top: 157px;
    left: 760px;
}
.coding-h2 {
    width: 339px;
    height: 96px;
    font-size: 40px;
    letter-spacing: 0.5px;
    color: #ffffff;
}
.coding-p {
    width: 387px;
    height: 96px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #ffffff;
}
.coding-pyton {
    color: #ffffff;
    background-color: #FF7500;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-decoration: none;
}